# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
*.pot
*.pyc

# PostgreSQL or sensitive configs
*.env
.env
.env.local
config.json

# Migrations cache
**/migrations/__pycache__/
**/__pycache__/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# Large dataset
count.csv
